<% obj.each do |item| %>
<div class="col-lg-4 col-md-6 col-sm-6 book-position">
    <p><%= image_tag item.image.url(:medium) %></p>
    <h4 class="item-title"><%= item.title %></h4>
    <p><%= truncate(item.description, length:150) %></p>
    <p>$<%= item.price %></p>
    <p>
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Show', item %> /
      <%= link_to 'Edit', edit_item_path(item) %> /
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
</div>
<% end %>
