<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p><%= image_tag @item.image.url %></p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @item.shipping %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<p> Tags:
<% if @item.tags.any? %>
  <%= render @item.tags %>
<% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
